[user]
	name = Junyeong Heo
	email = hhjjyy1122@gmail.com
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = *
[include]
	path = ~/.gitconfig_local
[core]
	autocrlf = input
	editor = code --wait
	excludesfile = ~/.gitignore
	ignorecase = false
	pager = delta
[delta]
	side-by-side = true
	hunk-header-style = file line-number syntax

# Diff tool
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[difftool "code"]
	cmd = code --wait --diff "$LOCAL" "$REMOTE"
[protocol "file"]
	allow = always

# Aliases
[alias]
	aa=add .
	aaa=add --all
	au=add --update
	b=branch
	bd=branch --delete
	c=commit
	cm=commit --message
	cf=commit --fixup
	co=checkout
	cob=checkout -b
	com=checkout master
	cos=checkout staging
	cod=checkout develop
	d=diff
	da=diff HEAD
	i=init
	lg=log --graph --oneline --decorate --all
	ld=log --pretty=format:"%h %ad %s" --date=short --all
	m=merge --no-ff
	ma=merge --abort
	mc=merge --continue
	p=pull
	pr=pull --rebase
	r=rebase
	s=status
	ss=status --short
	st=stash
	sta=stash apply
	std=stash drop
	stl=stash list
	stp=stash pop
	sts=stash save

	difft = -c diff.external=difft diff
