# ------------------------------
# Logs & Temp files
# ------------------------------
*.cache
*.gz
*.log
*.pid
*.seed
*.state
*.swn
*.swo
*.swp
*.tar
*.tar.gz
*.temp
*.tmp
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------------
# Dependencies & Build artifacts
# ------------------------------
bower_components/
build/
dist/
node_modules/
out/
target/
temp/
tmp/
vendor/
*.a
*.class
*.dSYM
*.dll
*.ear
*.egg-info/
*.exe
*.exp
*.idb
*.jar
*.lib
*.o
*.obj
*.pdb
*.pyc
*.pyd
*.pyo
*.so
*.war
*.whl
__pycache__/

# ------------------------------
# Security & Certificates
# ------------------------------
.env
.env.*
.secret
credentials.json
private.key
public.pem
*.crt
*.jks
*.key
*.p12
*.pem
*.pfx

# ------------------------------
# OS-specific files
# ------------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------------
# Miscellaneous
# ------------------------------
.worktrees/
*.local
*.local.*
