[user]
	name = Junyeong Heo
	email = hhjjyy1122@gmail.com
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = *
[include]
	path = ~/.gitconfig_local
[core]
	autocrlf = input
	editor = code --wait
	excludesfile = ~/.gitignore
	ignorecase = false
	pager = delta
[delta]
	side-by-side = true
	hunk-header-style = file line-number syntax

# Diff tool
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[difftool "code"]
	cmd = code --wait --diff "$LOCAL" "$REMOTE"
